<h1>{{bird.name}}</h1>

<div class="bird-info">

    <h2>Description</h2>
    <p>{{bird.description}}</p>
    <h2>Average Eggs</h2>
    <p>{{bird.averageEggs}}</p>
    <h2>Conservation Status</h2>

    {{#if bird.engdangered}}
        <p>{{bird.name}} is endangered</p>
    {{else}}
        <p>{{bird.name}} is not endangered</p>
    {{/if}}
</div>
<div class="dates-seen">
    <h2>Dates Seen</h2>

    <div class="new-sighting-form">
        <h3>Report a new sighting</h3>

        <form method="POST" action="/addSighting">
            Sighting date: <input name="date">
            <input type="hidden" name="_id" value="{{bird._id}}">
            <input type="submit" value="Submit">
        </form>
        <div class="flass-errors">
            {{#if messages}}
                <p class="error-messages">{{messages.error}}</p>
            {{/if}}
        </div>
    </div>
    <div class="sighting-list">
        <div class="sighting">
            {{#each bird.datesSeen}}
                <p>{{this}}</p>
            {{else}}
                <p>No sightings for {{bird.name}}</p>
            {{/each}}
        </div>
    </div>
    <a href="/">Home</a>
</div>